.jc-sidebar {
  position: -webkit-sticky;
  position: sticky;
  top: 5rem;
  display: block !important;
  height: calc(100vh - 6rem);
  padding-left: 0.25rem;
  margin-left: -0.25rem;
  overflow-y: auto;
  .jc-links-link {
    padding: 0.1875rem 0.5rem;
    margin-top: 0.125rem;
    color: var(--bs-body-color);
    text-decoration: none;
    &.active {
      font-weight: 600;
      color: var(--bs-emphasis-color);
      background-color: #eee;
    }
  }
  border-right: solid 1px rgba(0, 0, 0, 0.12);
}

.jc-layout {
  display: grid;
  grid-template-areas: "sidebar main";
  grid-template-columns: 1fr 5fr;
  gap: 1.5rem;
}

.jc-main {
}
