<ng-container *ngIf="idea$ | async; let idea">
  <div class="container" *transloco="let t">
    <div class="row">
      <div class="col">
        <h1>{{ idea.name }}</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-2">{{ t("ideas.table.description") }} :</div>
      <div class="col">{{ idea.description }}</div>
    </div>

    <ng-container *ngIf="pitches$ | async; let pitches">
      <div class="row">
        <div class="col">
          <app-idea-action-menu
            [idea]="idea"
            [disableDeleteButton]="pitches.length > 0"
          ></app-idea-action-menu>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h2>{{ t("pitches.title") }}</h2>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <app-pitch-list
            [showClient]="true"
            [ideaId]="this.idea.id"
          ></app-pitch-list>
        </div>
      </div>
    </ng-container>
  </div>
</ng-container>
