<ng-container *ngIf="client$ | async; let client">
  <div class="container" *transloco="let t">
    <div class="row justify-content-between">
      <div class="col">
        <h1>{{ client.name }}</h1>
      </div>
    </div>
    <ng-container *ngIf="pitches$ | async; let pitches">
      <app-client-action-menu
        [client]="client"
        [disableDeleteButton]="pitches.length > 0"
      ></app-client-action-menu>
      <h2>{{ t("pitches.title") }}</h2>
      <app-pitch-list
        [showIdea]="true"
        [clientId]="this.client.id"
      ></app-pitch-list>
    </ng-container>
  </div>
</ng-container>
